%h2 
  = @title
= error_messages_for 'user'
- form_for :user do |form|
  %fieldset
    %legend Email
    = hidden_field_tag "attribute", "email", :id => nil
    .form_row
      %label{ 'for' => "email"} Email:
      = form.text_field :email, :size => User::EMAIL_SIZE, :maxlength => User::EMAIL_MAX_LENGTH
      
    .form_row
      =submit_tag "Update", :class=> "submit"
      
- form_for :user do |form|
  %fieldset
    %legend Password
    = hidden_field_tag "attribute", "password", :id => nil
    .form_row
      %label{ 'for' => "current_password"} Current password:
      = form.password_field :current_password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH
    
    .form_row
      %label{ 'for' => "password"} New password:
      = form.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH
      
    .form_row
      %label{ 'for' => "password_confirmation"} Confirm:
      = form.password_field :password_confirmation, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH
              
    .form_row
      =submit_tag "Update", :class=> "submit"
    
    