%h2 
  = @title
= error_messages_for 'user'
- form_for :user do |form|
  %fieldset
    %legend Email
    = hidden_field_tag "attribute", "email", :id => nil
    = render :partial => "email_field_row", :locals => { :form => form }
      
    .form_row
      =submit_tag "Update", :class=> "submit"
      
- form_for :user do |form|
  %fieldset
    %legend Password
    = hidden_field_tag "attribute", "password", :id => nil

    = render :partial => "password_field_row", :locals => { :form => form, :field => "current_password", :field_title => "Current Password:"}

    = render :partial => "password_field_row", :locals => { :form => form, :field => "password", :field_title => "New password:"}
    
    = render :partial => "password_field_row", :locals => { :form => form, :field => "password_confirmation", :field_title => "Confirm:"}
    
              
    .form_row
      =submit_tag "Update", :class=> "submit"
    
    