%h2 Log in
- form_for :user do |form|
  %fieldset
    %legend Enter Your Details
    
    = render :partial => "screen_name_field_row", :locals => { :form => form }
    %br/
        
    = render :partial => "password_field_row", :locals => { :form => form, :field => "password", :field_title => "Password:" }
    
    .form_row
      %label{ 'for' => "remember_me", } Remember Me?
      = form.check_box :remember_me
      
    .form_row
      = submit_tag "Login!", :class => "submit"

%p 
  Not a member? 
  = link_to "Register Now!", :action => 'register'