!!! Strict
%html
  %head
    %title
      = @title
    = stylesheet_link_tag "site"
  %body
    #whole_page
      #header RailsSpace
      #nav
        = nav_link 'Home', 'site'
        |
        = nav_link 'About Us', 'site', 'about'
        |
        = nav_link 'Help', 'site', 'help'
        |
        = nav_link 'Register', 'user', 'register'
      #content
        - if flash[:notice]
          #notice
            = flash[:notice]
        = yield
        
      - if ENV["RAILS_ENV"] == "development"
        = debug(params)